In [3]:
import pandas as pd
import requests

In [7]:
url = "https://www.deckofcardsapi.com/api/deck/new/shuffle/?deck_count=1"
response = requests.get(url)
response.json()

{'success': True, 'deck_id': 'misarvqz42pw', 'remaining': 52, 'shuffled': True}

In [8]:
response.json()['success']

True

In [11]:
# Convert the json into a DataFrame, but a list needs to be passed
df = pd.DataFrame([response.json()])
df

   success       deck_id  remaining  shuffled
0     True  misarvqz42pw         52      True

In [14]:
df = pd.DataFrame([response.json()])[['deck_id', 'remaining']]
df

        deck_id  remaining
0  misarvqz42pw         52

In [15]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [17]:
for i in range(1, 4):
    res = requests.get(url)
    temp_df = pd.DataFrame([response.json()])[['deck_id', 'remaining']]
    df = df.append(temp_df)

In [18]:
df

        deck_id  remaining
0  misarvqz42pw         52
0  misarvqz42pw         52
0  misarvqz42pw         52

In [19]:
# Converting dataframe into a csv file
df.to_csv('p.csv')

In [20]:
df = pd.read_csv('p.csv')
df

   Unnamed: 0       deck_id  remaining
0           0  misarvqz42pw         52
1           0  misarvqz42pw         52
2           0  misarvqz42pw         52